# Virtual environments
.venv/
venv/
ENV/

# Python cache
**/__pycache__/
__pycache__/
*.py[cod]
*$py.class

# Test cache
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Local config
.env
